.fs-13{
    font-size: 13px;
}
.fs-14{
    font-size: 14px;
}
.w-50{
    width: 50%;
}
.center-flex{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column
}
.tr-6s{
    transition: all 0.6s ease-in-out;
}